@font-face{
    font-family: "Suissnord";
    src: url("../Fonts/suissnord/Suissnord.otf");
}
@font-face{
    font-family:"Hemi_head";
    src: url("../Fonts/hemi_head.ttf");
}
@font-face{
    font-family:"Rave";
    src: url("../Fonts/the-rave-is-in-your-pants/TheRaveIsInYourPants.otf");
}
